*{
	transition: 0.3s;
	transition-timing-function: cubic-bezier(0.3,0.1);
}
body{
	 background-color: #0fff !important;
}

/* ==== HEADER ====*/
header{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;
	height: auto;
	padding: 0 0 1rem;
	margin: 0 0 1rem;
}
#header-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;
	height: auto;
}
#header-wrapper > div{
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;
	/*padding: 0.5rem 0;*/
	margin: 0 0 1rem;
}
#navigation-wrapper{
	justify-content: flex-start;
	border-radius: 3px;
}
#navigation-wrapper div{
	padding: 1rem 1rem;
	margin: 0 1rem;
}
#navigation-wrapper div a{
}
#navigation-wrapper div a:hover{
	text-decoration: none;
}
#search-wrapper{
	justify-content: center;
}
#search-wrapper form{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
#search-wrapper form > *{
	padding: 0 1rem;
	margin: 0 1rem;
}
#search-wrapper form button{
	padding: 0.75rem;
	width: auto;
	color: #f1f1f1;
}
#search-wrapper form button:hover{
	background-color: rgba(225,225,225,0.3);
	color: #111111;
}
#search-wrapper form input{
	width: 45%;
	padding: 0.5rem;
}

/* ================*/

/* styles for register.jsp and login.jsp

*/

.registerContainer{
	margin:60px auto;
	margin-top:100px;
	margin-bottom:100px;
	width:540px;
}


.registration{
	background: white;
	margin : 0px auto;
	border : 3px solid blue;
	position : relative;
	padding: 40px;
	margin-bottom:100px;
	text-align:center;
}



h2{
	margin-left: 35px;
	margin-bottom:20px;
	font-family: "Calibri", san serif;
	font-size:25px;
	font-weight:10px;
	text-align:center;
	border: 5px solid gray;
	border-radius:25px 25px;
	width: 365px;
}

.registerButton {
	margin-top:20px;
	text-align:justify;
	background : teal;
	font-size: 20px;
	width:200px;
	height: 80px;
	padding: 10px 10px;
	border-radius: 4px;
	text-align:center;
	
}


.registerAdditional{
	margin-top:10px;
}


/* Styles for home.jsp*/


img{
	display:block;
	border-radius:30%;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;	
}


.middlenav{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top:100px;
}


*{
	
	margin : 0;
	padding: 0;
}


p.normal{
	font-family: "Arial";
	font-size: 20px;
	color : #ffff00;

}

/* Create two equal columns that floats next to each other */
.col {
    float: left;
    width: 50%;
    padding: 10px;
    height: 130px; /* Should be removed. Only for demonstration */
}


/* Set a style for all buttons */
button {
    background-color: #0099ff;
    color: white;
    padding: 5px 10px;
    margin: auto;
    border: 2;
    cursor: pointer;
    width: 10%;
}

input{
    width: 70%;
    padding: 12px 25px;
    margin: 8px 0;
    display: inline-block;
    border: 4px solid #ccc;
    box-sizing: border-box; 
    color: black;
 }




/* css for restaurant.jsp*/

.subclass{
	margin: 50px;
	margin-left : 400px;
	
	
}




