/* ==== GENERAL STYLING ==== */
*{
	transition: 0.3s;
	transition-timing-function: cubic-bezier(0.3,0.1);
}
html{
	width: 100%;
	height: auto;
}
body{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: row wrap;
	width: 100%;
 	background-color: #fff !important;
}
button {
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: #0099ff;
   	width: auto;
    padding: 5px 10px;
    margin: auto;
    cursor: pointer;
	color: #f1f1f1;
}
button:hover{
	background-color: rgba(225,225,225,0.3);
	color: #111111;
}

input{
    width: 70%;
    padding: 12px 25px;
    margin: 8px 0;
    display: inline-block;
    border: 4px solid #ccc;
    box-sizing: border-box;
 }

/* ======================== */

/* ==== HEADER ====*/
header{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;
	height: auto;
	padding: 0 0 1rem;
	margin: 0 0 1rem;
}
#header-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;
	height: auto;
}
#header-wrapper > div{
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;
	/*padding: 0.5rem 0;*/
	margin: 0 0 1rem;
}
#navigation-wrapper{
	justify-content: flex-start;
	border-radius: 3px;
}
#navigation-wrapper div{
	padding: 1rem 1rem;
	margin: 0 1rem;
}
#navigation-wrapper div a{
}
#navigation-wrapper div a:hover{
	text-decoration: none;
}
#search-wrapper{
	justify-content: center;
}
#search-wrapper form{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
#search-wrapper form > *{
	padding: 0 1rem;
	margin: 0 1rem;
}
#search-wrapper form button{
	padding: 0.75rem;
	width: auto;
}
#search-wrapper form input{
	width: 45%;
	padding: 0.5rem;
}

/* ================*/

/* ==== SEARCH RESULTS PAGE ==== */
#search-results{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: column wrap;
	padding: 1rem 0;
}
#search-results .restaurant-result{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: auto;
	height: auto;
	padding: 1rem 0;
	margin: 1rem 0;
	background: rgba(255,255,255,0.75);
}
#search-results .restaurant-result:hover{
	background-color: rgba(255,255,255,1);
	box-shadow: 0 0 5px rgba(11,11,11,0.45);
}
#search-results .restaurant-result div{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	width: auto;
	height: auto;
	padding: 0 1rem;
	margin: 0 1rem;
}
/* ============================= */

.registerContainer{
	margin:60px auto;
	margin-top:100px;
	margin-bottom:100px;
	width:540px;
}


.registration{
	background: white;
	margin : 0px auto;
	border : 3px solid blue;
	position : relative;
	padding: 40px;
	margin-bottom:100px;
	text-align:center;
}


.registerButton {
	margin-top:20px;
	text-align:justify;
	background : teal;
	font-size: 20px;
	width:200px;
	height: 80px;
	padding: 10px 10px;
	border-radius: 4px;
	text-align:center;
	
}


.registerAdditional{
	margin-top:10px;
}


img{
	display:block;
	border-radius:30%;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;	
}


.middlenav{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top:100px;
}


p.normal{
	font-family: "Arial";
	font-size: 20px;
	color : #ffff00;

}

/* Create two equal columns that floats next to each other */
.col {
    float: left;
    width: 50%;
    padding: 10px;
    height: 130px; /* Should be removed. Only for demonstration */
}







/* css for restaurant.jsp*/

.subclass{
	margin: 50px;
	margin-left : 400px;
	
	
}

.checked {
    color: orange;
}



